{% extends "base.html" %}

{% block title %}Login - Mingleoo.com{% endblock %}

{% block content %}
<div class="beta-warning">
    🚧 Estamos em beta. Bugs podem acontecer!
</div>

<h1>Olá novamente :D</h1>

<form method="POST">
    <input type="text" name="username" placeholder="Nome de usuário" required><br><br>
    <input type="password" name="password" placeholder="Senha" required><br><br>
    <button type="submit">Entrar</button>
</form>

<p>
    Não tem conta?
    <a href="/register">Criar conta</a>
</p>

<p>
    <a href="/">Voltar para o início</a>
</p>
{% endblock %}
