{% extends "base.html" %}

{% block title %}Registrar - Mingleoo.com{% endblock %}

{% block content %}
<div class="beta-warning">
    🚧 Estamos em beta. Bugs podem acontecer!
</div>

<h1>Bem vindo ao Mingleoo.com</h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username(size=20) }}
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>
        {{ form.email.label }} {{ form.email(size=20) }}
        {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>
        {{ form.password.label }} {{ form.password(size=20) }}
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>
        {{ form.confirm_password.label }} {{ form.confirm_password(size=20) }}
        {% for error in form.confirm_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>
        {{ form.recaptcha }}
        {% for error in form.recaptcha.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>
        <button type="submit">Criar conta</button>
    </form>

    <p>
        Já tem conta?
        <a href="/login">Entrar</a>
    </p>

    <p>
        <a href="/">Voltar para o início</a>
    </p>
{% endblock %}
